/* Table of Contents
----------------------
-- base imports
-- layouts
-- pages
-- abstracts
*/
/* base imports */
/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert; }

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert; }

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none; }

/* For images to not be able to exceed their container */
img {
  max-width: 100%; }

/* removes spacing between cells in tables */
table {
  border-collapse: collapse; }

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto; }

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert; }

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert; }

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset; }

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none; }

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto; }

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element; }

/* parent css */
/* main and default font */
/* color fonts */
html {
  font-size: 62.5%;
  /* Now 10px = 1rem! */
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: #fff; }

body {
  font-size: 16px;
  /* px fallback */
  font-size: 1.6rem;
  /* default font-size for document */
  line-height: 1.5;
  height: 100vh;
  padding: 0 10px; }

header {
  margin-bottom: 1vh; }

/* layouts */
/* navbar begins here */
.navbar {
  font-size: 1.5rem;
  border-bottom: 1px solid #c2c2c2;
  width: 95vw;
  margin: auto; }

.navbar-brand__logo {
  width: 18%;
  float: left; }

.navbar-toggler {
  border: #000 1px solid !important;
  font-size: 2rem; }

/* navbar ends here */
/* footer begins here */
footer {
  font-size: 14px;
  font-size: 1.4rem;
  background-color: #fff;
  padding: 1vh 1vw; }

footer a {
  display: inline-block; }

/* footer ends here */
/* pages */
/* main section begins here */
/* main and default font */
/* color fonts */
.about__intro {
  background-image: url(../images/coder-gear.webp);
  height: 65vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 4vh;
  border-radius: 5px; }

.about__intro {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: #fff;
  text-align: center; }

.about__intro h2 {
  font-size: 5rem; }

.about__intro p {
  font-size: 2rem; }

.about__items {
  text-align: center; }

.about__items div {
  margin-bottom: 5vh;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.about__items div h3 {
  text-transform: uppercase; }

.about__quote p {
  font-size: 1.5rem;
  color: #a1a1a1;
  font-style: oblique;
  text-align: center; }

/* main section ends here */
/* blog.html begins here */
.blog__header {
  background-image: url(../images/page-banner.jpg);
  height: 25vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 4vh;
  border-radius: 5px; }

.blog__header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 2vw;
  text-align: center; }
  .blog__header h2 {
    font-size: 4rem; }
  .blog__header p {
    font-size: 1.6rem; }

.blog__intro {
  margin: 2vh 0;
  border-bottom: 1px solid #c2c2c2; }
  @media (min-width: 1200px) {
    .blog__intro {
      margin: 0;
      border-bottom: none; } }

@media (min-width: 1200px) {
  .blog__items--one, .blog__items--two {
    margin: 2vh 0;
    border-bottom: 1px solid #c2c2c2; } }

.blog a {
  text-decoration: none;
  color: black; }

.blog__img {
  margin-bottom: 1vh;
  border-radius: 5px; }

/* blog.html ends here */
/* tutorials.html begins here */
.tutorial__header {
  background-image: url(../images/page-banner.jpg);
  height: 25vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 4vh;
  border-radius: 5px; }

.tutorial__header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 2vw;
  text-align: center; }
  .tutorial__header h2 {
    font-size: 4rem; }
  .tutorial__header p {
    font-size: 1.6rem; }

.tutorial__items a {
  text-decoration: none;
  color: black; }

.tutorial__img {
  margin-bottom: 1vh;
  border-radius: 5px; }
  @media (min-width: 1200px) {
    .tutorial__img {
      height: 25vh;
      width: 30vw; } }

@media (min-width: 1200px) {
  .tutorial__list {
    margin: 2vh 0;
    border-bottom: 1px solid #c2c2c2; } }

.tutorial__desc {
  margin: 2vh 0;
  border-bottom: 1px solid #c2c2c2; }
  @media (min-width: 1200px) {
    .tutorial__desc {
      margin: 0;
      border-bottom: none; } }

/* tutorials.html ends here */
/* contact.html begins here */
/* main and default font */
/* color fonts */
.contact__header {
  background-image: url(../images/page-banner.jpg);
  height: 25vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 4vh;
  border-radius: 5px; }

.contact__header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 2vw;
  text-align: center; }
  .contact__header h2 {
    font-size: 4rem; }
  .contact__header p {
    font-size: 1.6rem; }

.contact__form {
  background-color: black;
  padding: 10px;
  margin-bottom: 5px;
  color: #fff;
  border-radius: 5px; }
  .contact__form .contact__item {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    border-radius: 5px; }

.contact__btn {
  border: 1px solid gray;
  text-align: center;
  text-decoration: none;
  border-radius: 5px; }

/* contact.html ends here */
/* events.html begins here */
.events__header {
  background-image: url(../images/page-banner.jpg);
  height: 25vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 4vh;
  border-radius: 5px; }

.events__header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 2vw;
  text-align: center; }
  .events__header h2 {
    font-size: 4rem; }
  .events__header p {
    font-size: 1.6rem; }

.events__monthName {
  font-size: 2rem;
  font-weight: bold; }

.events__month {
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 1vh; }

.event__dates {
  justify-content: space-around;
  align-items: center;
  align-content: center; }

.events__item {
  padding: 0 1vw; }

.events__catLinks {
  margin-bottom: 2vh;
  align-content: space-around; }
  .events__catLinks a {
    color: black; }

.event__img {
  margin-bottom: 1vh;
  border-radius: 5px;
  width: 100%;
  height: auto; }
  @media (min-width: 1200px) {
    .event__img {
      width: 20%;
      height: auto; } }

.event__btn {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 1vh;
  cursor: pointer; }

/* events.html ends here */
/* abstracts */
/* main and default font */
/* color fonts */
/* ************************ */
/* MEDIA QUERY begins here */
@media only screen and (min-width: 992px) {
  body {
    width: 85vw;
    margin: auto; }
  .navbar {
    width: 80vw;
    margin: auto; }
  /* index.html begins here */
  /* main section begins here */
  .about__items div:hover {
    background-color: #000;
    color: #fff; }
  /* main section ends here */
  /* index.html ends here */
  /* blog.html begins here */
  .blog__header p {
    width: 45vw; }
  .blog__img {
    width: 30vw;
    height: 30vh; }
  .blog__img:hover {
    filter: grayscale(100%); }
  .blog__item--one img {
    width: 55vw;
    height: 45vh; }
  /* blog.html ends here */ }

/* MEDIA QUERY ends here */
