/* blog.html begins here */

@import '../abstracts/mixins';

.blog__header {
  background-image: url(../images/page-banner.jpg);
  height: 25vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 4vh;
  border-radius: 5px;
}

.blog__header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $myPrimaryColor;
  padding: 0 2vw;
  text-align: center;

  h2 {
    font-size: $fontSizeH2;
  }

  p {
    font-size: $fontSizeP;

    @include for-desktop-up {
      .blog__header p {
        width: 45vw;
      }
    }
  }
}

.blog__intro {
  margin: 2vh 0;
  border-bottom: $borderMain;

  @include for-desktop-up {
    margin: 0;
    border-bottom: none;

  }
}



@include for-desktop-up {

  .blog__items--one,
  .blog__items--two {
    margin: 2vh 0;
    border-bottom: $borderMain;
  }
}

.blog a {
  text-decoration: none;
  color: $mySecondaryColor;
}

.blog__img {
  margin-bottom: 1vh;
  border-radius: 5px;


  @include for-big-desktop-up {

    .blog__img {
      width: 30vw;
      height: 30vh;
    }
    .blog__img:hover {
      filter: grayscale(100%);
    }
  }


}

@include for-big-desktop-up {
  .blog__item--one img {
    width: 55vw;
    height: 45vh;
  }
}

/* blog.html ends here */