/* blog.html begins here */

.blog__header {
  background-image: url(../images/page-banner.jpg);
  height: 25vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 4vh;
  border-radius: 5px;
}

.blog__header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 2vw;
  text-align: center;

  h2 {
    font-size: 4rem;
  }

  p {
    font-size: 1.6rem;
  }
}

.blog a {
  text-decoration: none;
  color: black;
}

.blog__img {
  margin-bottom: 1vh;
  border-radius: 5px;
}

.blog__intro {
  margin: 2vh 0;
  border-bottom: 1px solid #c2c2c2;
}

/* blog.html ends here */