/* events.html begins here */

@import '../abstracts/mixins';

.events__header {
    background-image: url(../images/page-banner.jpg);
    height: 25vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 4vh;
    border-radius: 5px;
}

.events__header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $myPrimaryColor;
    padding: 0 2vw;
    text-align: center;

    h2 {
        font-size: $fontSizeH2;
    }

    p {
        font-size: $fontSizeP;
    }
}

.events__monthName {
    font-size: 2rem;
    font-weight: bold;
}

.events__month {
    border-bottom: $borderMain;
    margin-bottom: 1vh;
}

.event__dates {
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.events__item {
    padding: 0 1vw;

}
.events__catLinks {
    margin-bottom: 2vh;
    align-content: space-around;


    a {
        color: $mySecondaryColor;
    }
}



.event__img {
    margin-bottom: 1vh;
    border-radius: 5px;
    width: 100%;
    height: auto;
    @include for-desktop-up {
        width: 20%;
        height: auto;
    }
}

.event__btn {
    background-color: $mySecondaryColor;
    border: none;
    border-radius: 5px;
    color: $myPrimaryColor;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 1vh;
    cursor: pointer;
}



/* events.html ends here */