/* main section begins here */

@import '../abstracts/variables';


.about__intro {
    background-image: url(../images/coder-gear.webp);
    height: 65vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 4vh;
    border-radius: 5px;
  }
  
  
  .about__intro {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: $myPrimaryColor;
    text-align: center;
  }
  
  .about__intro h2 {
    font-size: 5rem;
  }
  
  .about__intro p {
    font-size: 2rem;
  }
  
  
  .about__items {
    text-align: center;
  }
  
  
  .about__items div {
    margin-bottom: 5vh;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .about__items div h3 {
    text-transform: uppercase;
  }
  
  .about__quote p {
    font-size: 1.5rem;
    color: #a1a1a1;
    font-style: oblique;
    text-align: center;
  }
  
  /* main section ends here */