  /* tutorials.html begins here */

  @import '../abstracts/mixins';

  .tutorial__header {
    background-image: url(../images/page-banner.jpg);
    height: 25vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 4vh;
    border-radius: 5px;
  }
  
  .tutorial__header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0 2vw;
    text-align: center;
  
    h2 {
      font-size: 4rem;
    }
  
    p {
      font-size: 1.6rem;
    }
  }
  
  .tutorial__items a {
    text-decoration: none;
    color: black;
  }
  
  .tutorial__img {
    margin-bottom: 1vh;
    border-radius: 5px;
    
    @include for-desktop-up {

      height: 25vh;
      width: 30vw;
    }
  }
  
  @include for-desktop-up {
    .tutorial__list {
      margin: 2vh 0;
      border-bottom: 1px solid #c2c2c2;
    }
  

  }
 
  .tutorial__desc {
    margin: 2vh 0;
    border-bottom: 1px solid #c2c2c2;

    @include for-desktop-up {
      margin: 0;
      border-bottom: none;
    }
  }
  
  
  /* tutorials.html ends here */