  /* footer begins here */
  footer {
    font-size: 14px;
    font-size: 1.4rem;
    background-color: #fff;
    padding: 1vh 1vw;
  }
  
  
  footer a {
    display: inline-block;
  }
  
  /* footer ends here */