  /* navbar begins here */
  .navbar {
    font-size: 1.5rem;
    border-bottom: 1px solid #c2c2c2;
    width: 95vw;
    margin: auto;

    @include for-desktop-up {
      .navbar {
        width: 80vw;
        margin: auto;
      }
    }
  }
  
  
  .navbar-brand__logo {
    width: 18%;
    float: left;
  }
  
  
  .navbar-toggler {
    border: #000 1px solid !important;
    font-size: 2rem;
  }
  
  /* navbar ends here */